---
import items from '@/data/amazonItems.json';
import type { amazonItem } from '@/types';
import Link from './Link.astro';

interface Props {
	asin: string;
	type?: 'link' | 'linkCard';
}

const { asin, type = 'linkCard' } = Astro.props;

const item: amazonItem | undefined = items.find((item) => item.asin === asin);
if (!item) {
	throw `ASIN ${asin} is not found.`;
}
---

{ type === 'link' &&
  <Link href={item.url}>{item.title}</Link>
}
{ type === 'linkCard' &&
  <Link href={item.url}>
    <div class:list={[
      'flex max-sm:flex-col items-center',
      'max-sm:text-center sm:text-left',
      'border rounded border-text dark:border-dark-text',
      'not-prose p-3 gap-4'
    ]}>
      <img src={item.imageUrl} alt='商品画像' class='my-0 rounded h-48'>
      <div class="text-sm flex-1">
        <p class="mb-3 font-bold text-base">{ item.title }</p>
        <p class="mb-2">{ item.contributors }</p>
        <p>{ item.publisher }</p>
      </p>
    </div>
  </Link>
}