---
import { ViewTransitions } from 'astro:transitions';
import { SITE } from '@/config';
import GoogleAnalytics from '@components/GoogleAnalytics.astro';
import '../styles/global.css';

export type Props = {
	pageTitle?: string;
	description?: string;
};

const { pageTitle, description = SITE.description } = Astro.props;

const title: string = pageTitle ? `${pageTitle} | ${SITE.title}` : SITE.title;
const url: string = SITE.url;
const image: string = `${SITE.url}${SITE.image}`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<ViewTransitions />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="manifest" href="/site.webmanifest" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-config" content="/browserconfig.xml" />
<meta name="theme-color" content="#ffffff" />

<!-- Open Graph Tags (Facebook) -->
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:url" content={url} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:title" content={title} />
<meta property="twitter:url" content={url} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- KaTex -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">

<!-- Dark mode -->
<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
</script>

<!-- Google Analytics -->
{ import.meta.env.PROD && <GoogleAnalytics /> }

<!-- Google Adsense -->
{ import.meta.env.PROD &&
  <script
    is:inline
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8890406023301925"
    crossorigin="anonymous">
  </script>
}