---
import type { CollectionEntry } from 'astro:content';
import estimateReadingTime from '../utils/estimateReadingTime';
import Link from './mdoc/Link.astro';

interface Props {
	post: CollectionEntry<'blog'>;
	class?: string;
}

const { post } = Astro.props;
const { title, publicationDate, tags } = post.data;
const slug: string = post.slug;
const readingTime: number = estimateReadingTime(post.body.length);
---

<div class:list={["text-center md:text-left", Astro.props.class]}>
  <p class="mb-2 font-semibold">
    { new Intl.DateTimeFormat('ja-JP', { dateStyle: 'long' }).format(publicationDate)}
  </p>
  <h2 class="text-2xl font-bold mb-4" style="word-break: auto-phrase;">
    <Link class="hover:text-primary" href={`/blog/${slug}`}>
      {title}
    </Link>
  </h2>
  <div class="flex gap-2 flex-wrap justify-center md:justify-start mb-2">
    { tags && tags.length > 0 && tags.map(tag =>
      <Link
        class:list={[
          "border border-text dark:border-dark-text rounded-full px-2 py-1",
          "hover:text-primary hover:border-primary dark:hover:border-primary"
        ]}
        href={`/tags/${tag}`}
        title={tag}
      >
        {tag}
      </Link>
    )}
  </div>
  <p>読了時間の目安: { readingTime }分</p>
</div>
