---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import PostHeader from '@/components/PostHeader.astro';
import ProfileCard from '@/components/ProfileCard.astro';
import Prose from '@/components/Prose.astro';
import RelatedPosts from '@/components/RelatedPosts.astro';
import ShareButtons from '@/components/ShareButtons.astro';
import Link from '@/components/mdoc/Link.astro';
import { PROFILE_PAGE_URLS } from '@/config';
import MainLayout from '@/layouts/MainLayout.astro';
import { Icon } from 'astro-icon/components';

interface Props {
	content: CollectionEntry<'blog'>['data'];
	description: string;
	id: string;
	readingTime: number;
}

const { content, description, id, readingTime } = Astro.props;
---
<!doctype html>
<html lang="ja">
  <head>
    <BaseHead pageTitle={content.title} description={description} />
  </head>
  <MainLayout>
    <PostHeader title={content.title} publicationDate={content.publicationDate} tags={content.tags} readingTime={readingTime} class="mb-4" />
    <hr class="mb-16 border-gray-300" />
    <Prose>
      <slot />
      <ShareButtons class="mt-16 not-prose mb-12" blogTitle={content.title} />
      <Link
      href={PROFILE_PAGE_URLS.bmc}
      class='flex justify-center flex-col text-center'
      >
        <Icon name="simple-icons:buymeacoffee" class="text-2xl mx-auto mb-2" />
        <span>気に入っていただけたら、<br class="sm:hidden" />サポートもお待ちしております！</span>
      </Link>
      { content.tags && (
        <RelatedPosts class="mt-16" id={id} tags={content.tags} />
      )}
    </Prose>
    <ProfileCard class="mt-10" />
  </MainLayout>
</html>